body{
  padding: 0px;
  margin: 0px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
display: none;
}

.wrapperMenu{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(75px, auto);
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.05);
}

#scrollDown {
  background-color: white;
  position: fixed;
  z-index: 50;
  top: 0;
  width: 100%;
}

#logoLUXICIOUS{
  padding-top: 8px;
}

.divMenu{
  align-self: center;
  justify-self: center;
}

#spanMenu{
  margin-left: 120px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#heartIcon{
  margin-left: 20px;
  margin-top: 10px;
}

@keyframes heartbeat
{
0%
{
  transform: scale( 1 );
}
20%
{
  transform: scale( 0.75 );
}
40%
{
  transform: scale( 1 );
}
60%
{
  transform: scale( 0.75 );
}
80%
{
  transform: scale( 1 );
}
100%
{
  transform: scale( 1 );
}
}

#heartIcon:hover{
  animation: heartbeat 1s infinite;
}

#homeEnSavoir{
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
  position:fixed;
  margin-left: 20vh;
  margin-top: 54vh;
  padding-left: 50vw;
}


/*    SEARCH BAR   */
.searchBar {
display: flex;
line-height: 30px;
align-items: center;
position: relative;
max-width: 190px;
}

.inputSearch {
width: 100%;
height: 40px;
padding: 0 1rem;
padding-left: 2.5rem;
  
border: 2px solid transparent;
border-radius: 8px;
  
outline: none;
background-color: #f3f3f4;
color: #0d0c22;
line-height: 50px;
  
transition: .3s ease;
}

.inputSearch::placeholder {
color: #9e9ea7;
}

.inputSearch:focus, input:hover {
outline: none;
border-color: rgba(234,76,137,0.4);
background-color: #fff;
box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
position: absolute;
left: 1rem;
fill: #9e9ea7;
width: 1rem;
height: 1rem;
}

.articleBandeau{
  height: 80px;
  width: 300px;
  background-color: deeppink;
  display: flex;
  align-items: flex-start;
  margin-top: 0px;
  border-radius: 0px 0px 20px 20px;
}

.articleBandeau>p{
  color: white;
  font-size: 34px;
  font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-weight: 600;
  margin-top: 20px;
  margin-left: 25px;
}

.articleBandeau>a>img{
  margin-left: 145px;
  margin-top: 23px;
}

.articleBandeau>img:hover{
  cursor: pointer;
  animation: heartbeat 1s infinite;
}

.moreInfo{
  margin-top: 293px;
  margin-bottom: -7px;
  padding-left: 4px;
}

.moreInfo:hover{
  cursor: pointer;
}


.parallax {
height: 100vh;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.parallax1 {
background-image: url("../img/homeBG.png");
}

#grpArticle1{
 display: flex;
 flex-grow: 1;
}

footer>p{    
  margin: 0px;
  padding: 0px;
  background-color: yellow;
}



